#### Regression Problem on the same dataset

In [1]:
import pandas as pd
import tensorflow as tf
import numpy as np
import tensorboard as tb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder, OneHotEncoder
import pickle

In [2]:
data  = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [4]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [7]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head(10)

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0
5          645     Spain       1  ...               0        149756.71       1
6          822    France       1  ...               1         10062.80       0
7          376   Germany       0  ...               0        119346.88       1
8          501    France       1  ...               1         74940.50       0
9          684    France       1  ...               1         71725.73       0

[10 rows x 11 columns]

In [17]:
# One hot encodind for geography 
one_hot_encoder = OneHotEncoder()
geo_encoder = one_hot_encoder.fit_transform(data[['Geography']])
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [15]:
encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=one_hot_encoder.get_feature_names_out(['Geography']))
encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [19]:
data = pd.concat([data.drop('Geography',axis=1),encoded_df],axis=1)
data.head(30)

    CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0           619       0  ...                0.0              0.0
1           608       0  ...                0.0              1.0
2           502       0  ...                0.0              0.0
3           699       0  ...                0.0              0.0
4           850       0  ...                0.0              1.0
5           645       1  ...                0.0              1.0
6           822       1  ...                0.0              0.0
7           376       0  ...                1.0              0.0
8           501       1  ...                0.0              0.0
9           684       1  ...                0.0              0.0
10          528       1  ...                0.0              0.0
11          497       1  ...                0.0              1.0
12          476       0  ...                0.0              0.0
13          549       0  ...                0.0              0.0
14          635       0  ...                0.0              1.0
15          616       1  ...                1.0              0.0
16          653       1  ...                1.0              0.0
17          549       0  ...                0.0              1.0
18          587       1  ...                0.0              1.0
19          726       0  ...                0.0              0.0
20          732       1  ...                0.0              0.0
21          636       0  ...                0.0              1.0
22          510       0  ...                0.0              1.0
23          669       1  ...                0.0              0.0
24          846       0  ...                0.0              0.0
25          577       1  ...                0.0              0.0
26          756       1  ...                1.0              0.0
27          571       1  ...                0.0              0.0
28          574       0  ...                1.0              0.0
29          411       1  ...                0.0              0.0

[30 rows x 13 columns]

In [22]:
y = data['EstimatedSalary']
x = data.drop('EstimatedSalary',axis=1)

In [29]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=45,test_size=0.2)

In [30]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [31]:
x_train

array([[-0.54314547, -1.10331088,  2.0207228 , ...,  0.99575899,
        -0.57812007, -0.57330877],
       [-0.49161743,  0.90636285, -0.66001103, ..., -1.00425907,
         1.72974448, -0.57330877],
       [ 1.01300132,  0.90636285, -0.46853004, ...,  0.99575899,
        -0.57812007, -0.57330877],
       ...,
       [ 0.90994524, -1.10331088, -1.23445399, ...,  0.99575899,
        -0.57812007, -0.57330877],
       [ 0.37405363,  0.90636285, -0.08556807, ...,  0.99575899,
        -0.57812007, -0.57330877],
       [ 0.24008073, -1.10331088,  0.29739391, ...,  0.99575899,
        -0.57812007, -0.57330877]])

In [32]:
x_test

array([[-1.13056512, -1.10331088, -1.04297301, ..., -1.00425907,
        -0.57812007,  1.74426078],
       [-0.12061555,  0.90636285,  1.06331786, ..., -1.00425907,
         1.72974448, -0.57330877],
       [ 0.42558167, -1.10331088,  2.0207228 , ...,  0.99575899,
        -0.57812007, -0.57330877],
       ...,
       [-1.34698289,  0.90636285,  0.01017243, ..., -1.00425907,
        -0.57812007,  1.74426078],
       [-0.12061555,  0.90636285, -0.85149202, ..., -1.00425907,
        -0.57812007,  1.74426078],
       [-0.16183798,  0.90636285,  0.58461539, ...,  0.99575899,
        -0.57812007, -0.57330877]])

In [33]:
y_train

4643     10703.53
2390    113781.99
6162    137001.10
8678      2803.89
6944     87352.43
          ...
8772    199454.37
163     106977.80
6012     67484.16
6558    115927.85
7115    121440.80
Name: EstimatedSalary, Length: 8000, dtype: float64

In [34]:
y_test

4132     80698.54
6553    168359.98
7604    177355.80
585     179614.80
5924    189430.86
          ...
193      86957.42
7500    197528.62
2949     97577.17
9842    106642.97
2025     17622.82
Name: EstimatedSalary, Length: 2000, dtype: float64

In [ ]:
# Code for creating pickle files of scaler and encoders

In [41]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential([
    Dense(64,activation = 'relu',input_shape = (x_train.shape[1],)),
    Dense(32,activation = 'relu'),
    Dense(8,activation='relu'),
    Dense(1)
])

model.compile(optimizer='adam',loss='mean_squared_error',metrics=['mse'])
model.summary()

c:\Users\Ansh\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_5 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_6 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 8)              │           264 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │             9 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 3,185 (12.44 KB)

 Trainable params: 3,185 (12.44 KB)

 Non-trainable params: 0 (0.00 B)

In [49]:
from tensorflow.keras.callbacks import EarlyStopping
early_stopping = EarlyStopping(patience = 10 , monitor='val_loss', restore_best_weights = True)

In [50]:
history = model.fit(
    x_train,y_train,
    validation_data = (x_test,y_test),
    epochs = 100,
    callbacks = [early_stopping]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3287511296.0000 - mse: 3287511296.0000 - val_loss: 3341894656.0000 - val_mse: 3341894656.0000
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 765us/step - loss: 3249538304.0000 - mse: 3249538304.0000 - val_loss: 3343130112.0000 - val_mse: 3343130112.0000
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 761us/step - loss: 3213810688.0000 - mse: 3213810688.0000 - val_loss: 3341959680.0000 - val_mse: 3341959680.0000
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 785us/step - loss: 3270722048.0000 - mse: 3270722048.0000 - val_loss: 3342847232.0000 - val_mse: 3342847232.0000
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 890us/step - loss: 3282721280.0000 - mse: 3282721280.0000 - val_loss: 3341432576.0000 - val_mse: 3341432576.0000
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3244012288.0000 - mse: 3244012288.0000 - val_loss: 3342585088.0000 - val_mse: 3342585088.0000
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 788us/step - loss: 3191482880.0000 - mse: 3191482880.0000 - val_loss: 3343192576.0000 - val_mse: 3343192576.0000
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 755us/step - loss: 3253070080.0000 - mse: 3253070080.0000 - val_loss: 3341538048.0000 - val_mse: 3341538048.0000
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 757us/step - loss: 3227987200.0000 - mse: 3227987200.0000 - val_loss: 3341730048.0000 - val_mse: 3341730048.0000
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 764us/step - loss: 3261756928.0000 - mse: 3261756928.0000 - val_loss: 3343680768.0000 - val_mse: 3343680768.0000
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 763us/step - loss: 3240132864.0000 - mse: 3240132864.0000 - val_loss: 3345657856.0000 - val_mse: 3345657856.0000
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 776us/step - loss: 3287475712.0000 - mse: 3287475712.0000 - val_loss: 3341897728.0000 - val_mse: 3341897728.0000
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 760us/step - loss: 3274222080.0000 - mse: 3274222080.0000 - val_loss: 3345377024.0000 - val_mse: 3345377024.0000
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 751us/step - loss: 3225991936.0000 - mse: 3225991936.0000 - val_loss: 3342668544.0000 - val_mse: 3342668544.0000
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 763us/step - loss: 3313561600.0000 - mse: 3313561600.0000 - val_loss: 3341477632.0000 - val_mse: 3341477632.0000

In [44]:
test_loss,test_mse = model.evaluate(x_test,y_test)
print(f'TEST MSE : {test_mse}, TEST LOSS : {test_loss}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 524us/step - loss: 3378508288.0000 - mse: 3378508288.0000
TEST MSE : 3337677312.0, TEST LOSS : 3337677312.0